{% extends 'base.html.twig' %}

{% block title %}{{ 'cards.multi_search.title'|trans }}{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_end(form) }}

    <hr>

    {% if cards_not_found and cards_not_found|length > 0 %}
        <div class="alert alert-warning" role="alert">
            {{ 'form.cards.multi_search.cards_not_found'|trans }}
            <ul class="mb-0">
            {% for name in cards_not_found %}
                <li>{{ name }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if searched_cards|length > 0 %}
        <p>
            {{ searched_cards|length - cards_not_found|length }}/{{ searched_cards|length}} Karten gefunden
        </p>
    {% endif %}

    <div class="accordion" id="cardAccordion">
    {% for card_id, cards in cards %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ card_id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ card_id }}" aria-expanded="false" aria-controls="collapse{{ card_id }}">
                    {{ oracle_id_to_name_mapping[card_id] }} ({{ cards|length }})
                </button>
            </h2>
            <div id="collapse{{ card_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ card_id }}" data-bs-parent="#cardAccordion">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ 'form.cards.collection.search.order_choices.name'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.quantity'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.foil_quantity'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.set_code'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.language'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.price'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.foil_price'|trans }}</th>
                                    <th>{{ 'form.cards.collection.search.order_choices.owner'|trans }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in cards %}
                                {% set lang = item.language in item.card.cardLanguages() ? item.language : '' %}
                                <tr>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-link"
                                            data-bs-toggle="tooltip"
                                            data-bs-html="true"
                                            data-bs-title='<img src="https://api.scryfall.com/cards/{{ item.edition }}/{{ item.number }}/{{ lang }}?format=image&version=normal&face=front" width="184" alt="">'
                                        >
                                            <svg class="bi d-block mx-auto" width="24" height="24">
                                                <use xlink:href="#file-image"></use>
                                            </svg>
                                        </button>
                                    </td>
                                    <td>{{ item.card.texts(lang).name }}</td>
                                    <td>{{ item.nonFoilQuantity }}</td>
                                    <td>{{ item.foilQuantity }}</td>
                                    <td class="row-icon">
                                        <span class="set-icon">{{ item.card.setCode|lower|set_icon }}</span>
                                    </td>
                                    <td>{{ item.language|flag }}</td>
                                    <td>
                                        {% if item.card.cardmarketPrices.priceNormal ?? false %}
                                            Ø {{ item.card.cardmarketPrices.priceNormal|format_currency('EUR') }}
                                        {% else  %}
                                            -
                                        {% endif %}

                                    </td>
                                    <td>
                                        {% if item.card.cardmarketPrices.priceFoil ?? false %}
                                            Ø {{ item.card.cardmarketPrices.priceFoil|format_currency('EUR') }}
                                        {% else  %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ item.user.userIdentifier }}</td>
                                    <td>
                                        <a href="{{ path('wishlist_add', {scryfallOracleId: item.card.scryfallOracleId, card: item.card.id, language: item.language}) }}" target="_blank">
                                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#heart"></use></svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
